<div id="docsNavWrapper" class="minimalScroller">
  <nav id="docsNav">
    <ol>
      <li>
        <details class="wrapper section-collapse activeSection" open="">
          <summary class="sectionHead"><span aria-hidden="true" class="marker">›</span>Introduction</summary>
          <ol>
            <li class="active"><a href="/docs/">What is Lit?</a></li>
            <li><a href="/docs/getting-started/">Getting Started</a></li>
          </ol>
        </details>
      </li>
      <li>
        <details class="wrapper section-collapse" open="">
          <summary class="sectionHead"><span aria-hidden="true" class="marker">›</span>Components</summary>
          <ol>
            <li><a href="/docs/components/overview/">Overview</a></li>
            <li><a href="/docs/components/defining/">Defining</a></li>
            <li><a href="/docs/components/rendering/">Rendering</a></li>
            <li><a href="/docs/components/properties/">Reactive properties</a></li>
            <li><a href="/docs/components/styles/">Styles</a></li>
            <li><a href="/docs/components/lifecycle/">Lifecycle</a></li>
            <li><a href="/docs/components/shadow-dom/">Shadow DOM</a></li>
            <li><a href="/docs/components/events/">Events</a></li>
            <li><a href="/docs/components/decorators/">Decorators</a></li>
          </ol>
        </details>
      </li>
    </ol>
  </nav>
</div>
